@import 'reset';


//========= GLOBAL CLASSES ===================================

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a, a:visited{
    color:#cf1d56;
    text-decoration: none;
    border-bottom: 1px solid #cf1d56;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::before, .row::after {
    display: block;
    clear: both;
    content: "";
}

.row *[class*="col"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.row .col-1-2 {
    width: 50%;
}

.row .col-12 {
    width: 100%;
}

.text {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}


.sectionTitle {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: white;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

//========= HEADER ===================================

div.header {
    height: 454px;
    background-repeat: no-repeat;
    background-image: url('/img/4.jpg');
    background-size: 100% auto;
    background-color: black;
    background-position: center;
    .animation {
        list-style: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }.animation li {
        padding-top: 53px;
        display: inline-block;
        font-family: 'Satisfy', cursive;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 10px;
        color: #cf1d56;
        transition: all 1.618s ease;
        margin-left: 0;
    }.animation li:last-child{
        margin-right: 0;
    }.animation.hidden {
        opacity: 1;
    }
    .animation.hidden li:nth-child(1) {transform:translateX(-200px) translateY(-200px);}
    .animation.hidden li:nth-child(2) {transform:translateX(20px) translateY(100px);}
    .animation.hidden li:nth-child(3) {transform:translateX(-150px) translateY(-80px);}
    .animation.hidden li:nth-child(4) {transform:translateX(10px) translateY(-200px);}
    .animation.hidden li:nth-child(5) {transform:translateX(-300px) translateY(200px);}
    .animation.hidden li:nth-child(6) {transform:translateX(20px) translateY(-20px);}
    .animation.hidden li:nth-child(7) {transform:translateX(30px) translateY(200px);}
    .animation.hidden li:nth-child(8) {transform:translateX(-200px) translateY(-200px);}
    .animation.hidden li:nth-child(9) {transform:translateX(20px) translateY(-100px);}
    .animation.hidden li:nth-child(10) {transform:translateX(-150px) translateY(-80px);}
    .animation.hidden li:nth-child(11) {transform:translateX(10px) translateY(-200px);}
    .animation.hidden li:nth-child(12) {transform:translateX(-300px);}
}

//========= NAVIGATION ===================================

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 26px;
    z-index: 1;
 li {
    display: inline-block;
    margin: 0 94px;
    position: relative;
    a {
        color: white;
        line-height: 39px;
        text-decoration: none;
        transition: 0.5s color;
        float: right;
        border: 0;
        &:hover {
            color: #cf1d56;
        }
    }
    }
}

//========= CONTENT ===================================



.content {
    width: 100%;
    background: black;
    height: auto;
}

// ========= INSTRUCTORS ===================================

.jazz {
    width:150px;
    height: 220px;
    float: left;
    cursor: pointer;

}

.salsa {
    width:150px;
    height: 220px;
    cursor: pointer;

}

.streetdance {
    width: 150px;
    height: 220px;
    float: right;
    cursor: pointer;
}

.instructor-cnt {
    position:relative;
    overflow: hidden;
    display: inline-block;

    .calendar {
        position: absolute;
        left:0;
        top:0;
        display: none;
    }
    img {
        display:block;
        position: relative;
    }
    .shortDesc {
        opacity: 0;
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        color: white;
        background: rgba(black, 0.8);
        transition: 0.5s opacity;
        visibility: hidden;
        p {
            padding-top: 30px;
            text-align: center;
        }
    }
    &:hover{
        .shortDesc {
            opacity: 1;
            visibility: visible;
        }
    }
}
#instructors {
    padding-top: 15px;
    padding-bottom: 200px;
    .col-12 {
        display: flex;
        justify-content: space-around;

    }


}

.instructor-cnt.view {
    .calendar {display: block; background:#000;}
}

.calendar {
    color: white;
    font-family: 'Amatic SC', cursive;
    width: 150px;
    height: 220px;
    border: 5px double white;
    background-color: black;
    position: relative;
    .close {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: black;
        border: 2px solid #fff;
        color: #fff;
        top: -15px;
        right: -15px;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
    }

    button {
        width: 75px;
        height: 30px;
        font-size: 18px;
        font-weight: 800;
        background-color: black;
        font-family: 'Amatic SC', cursive;
        color: white;
        margin-left: 30px;
        margin-top: 1px;
        border: 1px solid white;
        transition-duration: 0.4s;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    .textClasses {
        text-align: center;
        list-style: none;
        padding: 10px;
    }
}

// ========= CONTACT ===================================

#contact {
    padding-bottom: 100px;
}

.contactForm {
    input[type=text], input[type=email], select {
        width: 50%;
        padding: 12px 20px;
        margin: 5px auto;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: black;
        color: white;
        font-family: 'Satisfy', cursive;
        display: block;
    }
    input[type=text].error,
    input[type=email].error,
    select.error {
        border-color: #cf1d56;
    }

    input[type=submit] {
        width: 50%;
        height: 50px;
        background-color: black;
        color: white;
        font-family: 'Satisfy', cursive;
        font-size: 20px;
        padding: 14px 20px;
        margin: 8px auto;
        border: 1px solid white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=submit]:hover {
        background-color: #cf1d56;
    }

    textarea {
        background-color: black;
        color: white;
        font-family: 'Satisfy', cursive;
        padding: 12px 20px;
        margin: 8px auto;
        width: 50%;
        height: 100px;
        resize: none;
        display: block;
    }

    label {
        display: none;
    }

    .error-text {
        color: #cf1d56;
        padding: 5px 0;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
}

//========= FOOTER ================================

.footer {
    background-color: black;
    height: 60px;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.copyright {
    font-size: 16px;
    color: white;
    float: left;
    padding-top: 16px;
}

.social-icons {
    a {
        border-bottom: 0;
    }

}

.social-icons li {
    display: inline-block;
    float: right;
    margin: 0 10px;
}

.social-icons li .social {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
}

.social-icons .social-flickr {
    background: url(../img/flickr.png) no-repeat;
}

.social-icons .social-vimeo {
    background: url(../img/vimeo.png) no-repeat;
}

.social-icons .social-pinterest {
    background: url(../img/pinterest.png) no-repeat;
}

.social-icons .social-twitter {
    background: url(../img/twitter.png) no-repeat;
}

//========= MODAL ================================

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

//========= MODAL ================================

//========= DROPDOWN =============================
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
//========= DROPDOWN =============================
